body{
	font-size:16px;
}

.hide{
	display:none;
}

.container{
    width: 960px;
    padding:1em;
	margin: 1em auto;
    border:1px solid;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.placer{
	display:inline-block;
}

.align_right{
	float:right;
}

input[type=text]{
	padding:0.25em;
	font-style: italic;
}

input[type=button],
input[type=submit]{
	color: #333;
    background-color: #fff;
    border-color: #ccc;
    background-image: none;
    border: 1px solid;
    padding: 5px 12px;
    border-radius: 4px;
    cursor: pointer;    
	font-weight: bold;
}

input[type=button]:hover,
input[type=submit]:hover{
	background:#e6e6e6;
}

/*Form items*/
form.search_bar{
	padding:2em 0;
}


/*List Items*/

ul{
	list-style-type: none;
	padding:0;
}

li span{
	vertical-align: top;
}

.listItem{
	margin:1em 1em 1em 0;
	font-size:0.7em;
}

.listThumb{
	float:left;
	margin:0 1em 1em 0;
	width:20%;
}

.listDescription{
	float:left;
	width:35%;
}

.displayname{
	font-size:2em;
	font-weight:bold;
}

.metainfo{
    margin: 0.5em;
    font-size: 1.2em;
}

.views{
	margin:0 1em;
}


/*Controls*/
#loading{
	text-align: center;
	display:inline-block;
	position:absolute;
	left:50%;
	font-style: italic;
	color:blue;
}

#loading.hide{
	display:none;
}

#prev_button,
#next_button{
    font-weight: bold;
    cursor: pointer;
}
