body{
	font-size:16px;
}

.container{
    width: 960px;
    padding:1em;
	margin: 1em auto;
    border:1px solid;
}

/*Form items*/
form.search_bar{
	padding:2em 0;
}

input[type=text]{
	padding:0.25em;
	font-style: italic;
    line-height: 1.3em;
}

input[type=button]{
	color: #333;
    background-color: #fff;
    border-color: #ccc;
    background-image: none;
    border: 1px solid;
    padding: 5px 12px;
    border-radius: 4px;
    cursor: pointer;    
	font-weight: bold;
}

input[type=submit]{
	border:1px solid #CCCCCC;
	-webkit-box-shadow: #FEFFFF 0px 1px 1px ;
	-moz-box-shadow: #FEFFFF 0px 1px 1px ; 
	box-shadow: #FEFFFF 0px 1px 1px ; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 7px; 
	text-decoration:none; 
	display:inline-block;
	font-weight:bold; 
	color: #4A4A4A;
	background-color: #F7F5F6; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F5F6), to(#DDDDDD));
	background-image: -webkit-linear-gradient(top, #F7F5F6, #DDDDDD);
	background-image: -moz-linear-gradient(top, #F7F5F6, #DDDDDD);
	background-image: -ms-linear-gradient(top, #F7F5F6, #DDDDDD);
	background-image: -o-linear-gradient(top, #F7F5F6, #DDDDDD);
	background-image: linear-gradient(to bottom, #F7F5F6, #DDDDDD);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F7F5F6, endColorstr=#DDDDDD);
}

input[type=button]:focus,
input[type=submit]:focus,
input[type=button]:hover,
input[type=submit]:hover,
input[type=button]:active,
input[type=submit]:active{
	background:#e6e6e6;
}

/*List Items*/
ul{
	list-style-type: none;
	padding:0;
}

li span{
	vertical-align: top;
}

li.striped{
	background:#f2f5f6;
}

.listItem{
	margin:2em 0 1em 0;
	font-size:0.7em;
	padding: .5em;
	border:1px solid;
}

.listItem:hover{
	background:#d6f0fd;
	padding: .5em;
}

.listThumb{
	float:left;
	margin:0 1em 0 0;
	width:20%;
}

.listDescription{
	float:left;
	width:35%;
}

.displayname{
	font-size:2em;
	font-weight:bold;
	border-bottom:2px solid #ccc;
}

.metainfo{
    margin: 0.5em;
    font-size: 1.2em;
}

.views{
	margin:0 1em;
}

/*Controls*/
#loading{
	text-align: center;
	display:inline-block;
	position:absolute;
	left:50%;
	font-style: italic;
	color:blue;
}

#loading.hide{
	display:none;
}

#prev_button,
#next_button{
    font-weight: bold;
    cursor: pointer;
}

/*Utility classes*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.hide{
	display:none;
}
.placer{
	display:inline-block;
}

.align_right{
	float:right;
}
